<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Song Wookie!</a>
        </div>
        <div id="navbar profile" class="collapse navbar-collapse">
          <ul class="nav navbar-nav pull-right">

          <li> <%=link_to("Home", user_path(current_user))  %>

          </li>

          <li> <%=link_to("Trending Music!", songs_path)  %>
           
          </li>

          <li> <%=link_to("Add favorites!", new_user_favorite_path(current_user))  %>
           
          </li>

          <% if user_signed_in? %>
          <li>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
          </li>
          
          <% end %>
        </ul>
        </div>
      </div>
</nav>

<div class="search-list-div">
  <div class="search-heading-show">
    <h1>Tracks Matching <%= params[:song_name] %></h1>
  </div>
  <!-- <ul> -->
    <% @songs.each do |track| %>
    
      <div class="col-md-4 well results-list">
       <!--  <li class = "results-list"> -->
          <%= track.name %> | <%= track.album.name %> | <%= track.artists.first.name %> 
          </br>
          </br>
           
          <iframe src=<%="https://embed.spotify.com/?uri=" + track.uri%> width="300" height="80" frameborder="0" allowtransparency="true"></iframe>

          <%= form_for @song, url: { controller: :favorites, action: :create }, remote: true do |f| %>
            <%= f.hidden_field :song_name, :value => track.name  %>
            <%= f.hidden_field :artist_name, :value => track.artists.first.name  %>
            <%= f.hidden_field :album_art, :value => track.album.images.first['url'] %>
            <%= f.hidden_field :preview_url, :value => track.uri %>
            </br>
            <%= f.submit "Favorite", :class => "favorite" %>
          <% end %>
        <!-- </li> -->
        
        </div>
    
    <% end %> 
  <!-- </ul> -->
</div>

<script type="text/javascript">
$(document).ready(function () {
    $(".results-list").on("click",".favorite", function() {
          console.log("I'm clicking");
          $(this).fadeOut(500);
      })
    });

</script>
