
<h1>Tracks Matching <%= params[:song_name] %></h1>

<ul>
	<% @songs.each do |track| %>
		<li><%= track.name %> | <a href=<%="https://open.spotify.com/track/" + track.id %>>Listen Here</a>
		</li>
	<% end %>	
</ul>

<!-- https://open.spotify.com/track/ -->

<!-- http://localhost:3000/1tjHKKI0r82IB5KL29whHs -->

<div class="caption" style="text-align:center;">
  <%= link_to upvote_song_path(song), class: "upvote", method: :put do %>
    <button type="button" class="btn btn-info" aria-label="Left Align">
      <span class="glyphicon glyphicon-thumbs-up glphicon-align-center" aria-hidden="true"></span>
      <span class="badge"><%= song.get_upvotes.size %></span>
    </button>
  <% end %>

  <%= link_to downvote_song_path(song), class: "upvote", method: :put do %>
    <button type="button" class="btn btn-info" aria-label="Left Align">
      <span class="glyphicon glyphicon-thumbs-down glphicon-align-center" aria-hidden="true"></span>
      <span class="badge"><%= song.get_downvotes.size %></span>
    </button>
  <% end %>
</div>